<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html5">
  <Worksheet ss:Name="Артикулы">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Название</Data></Cell>
        <Cell><Data ss:Type="String">Цена / шт.</Data></Cell>
        <Cell><Data ss:Type="String">Количество</Data></Cell>
        <Cell><Data ss:Type="String">Итого</Data></Cell>
      </Row>
      <% for sku in skus %>
        <Row>
          <Cell><Data ss:Type="String"><%= sku.compiled_title(cart) %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sku.amount_in_cart(cart) %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sku.unit_price %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sku.price(cart) %></Data></Cell>
        </Row>
      <% end %>
      <Row>
        <Cell><Data ss:Type="String">Итого:</Data></Cell>
        <Cell><Data></Data></Cell>
        <Cell><Data ss:Type="String">Количество</Data></Cell>
        <Cell><Data ss:Type="Number"><%= skus.price(cart) %></Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>